// NavBar

.nav {
    // background-color: blue;
    @include flex;
}

.main-logo {
    margin-left: 130px;
}

.nav-container {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.disclaimer {
    font-size: 10px;
}
.nav-itmes{
    display: flex;
    width: 66%;
    margin-right: 120px;
    justify-content: space-around;
    align-items: center;
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: normal;
    font-size: .9em;
    letter-spacing: .1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:link {
    color: #1c1d1d;
    text-decoration: none;
}

a:visited {
    color: #1c1d1d;
}

// .nav_itmes li:link {
//     text-decoration: none;
// }

// .nav_itmes li:visited {
//     text-decoration: none;
// }

.search-icon {
    height: 32px;
    width: auto;
    margin-right: -20px;
    margin-bottom: 5px;
}

.cart-icon {
    height: 32px;
    margin-bottom: 10px;
}

//              -------   Shop Component     -------

.shop-body {
    @include flex;
}

.shop-container {
    @include flex;
    flex-direction: column;
    width: 79.5%;
    font-family: $main_font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.shop_container__column {
    @include flex;
    flex-direction: column;
}

.main-image {
    height: auto;
    width: 100%;
    margin-top: 58px;
}

.shop-heading {
    font-size: 1.2em;
    margin-top: 85px;
    letter-spacing: .1em;
}

.main-paragrpah {
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    text-align: left;
    line-height: 1.7;
    font-weight: 200;
    font-size: 1.015em;
}
//    I just read about and am going to practice BEM naming conventions below

.products-section {
    width: 104%;
    flex-direction: row;
    margin-top: 30px;
}

.products-section__container {
    width: 30%;
    display: inline-block;
    float: left;
    margin: 12px;
}

.products-section__images {
    max-height: 28em;
    // max-width: 96%;
    margin-top: 30px;
}

.product-section__name-and-price {
    margin-top: 20px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}