// NavBar

.nav {
    // background-color: blue;
    @include flex;
}

.main_logo {
    margin-left: 130px;
}

.nav_container {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.disclaimer {
    font-size: 10px;
}
.nav_itmes{
    display: flex;
    width: 66%;
    margin-right: 120px;
    justify-content: space-around;
    align-items: center;
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: normal;
    font-size: .9em;
    letter-spacing: .1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:link {
    color: #1c1d1d;
    text-decoration: none;
}

a:visited {
    color: #1c1d1d;
}

// .nav_itmes li:link {
//     text-decoration: none;
// }

// .nav_itmes li:visited {
//     text-decoration: none;
// }

.search_icon {
    height: 32px;
    width: auto;
    margin-right: -20px;
    margin-bottom: 5px;
}

.cart_icon {
    height: 32px;
    margin-bottom: 10px;
}

.shop_body {
    @include flex;
}

.shop_container {
    @include flex;
    flex-direction: column;
    width: 79.5%;
    font-family: $main_font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main_image {
    height: auto;
    width: 100%;
    margin-top: 58px;
}

.shop_heading {
    font-size: 1.2em;
    margin-top: 85px;
    letter-spacing: .1em;
}

.main_paragrpah {
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    text-align: left;
    line-height: 1.7;
    font-weight: 200;
    font-size: 1.03em;
}