html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.nav {
  display: flex;
  justify-content: center;
  align-items: center; }

.main-logo {
  margin-left: 130px; }

.nav-container {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: flex-end; }

.disclaimer {
  font-size: 10px; }

.nav-itmes {
  display: flex;
  width: 66%;
  margin-right: 120px;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
  font-weight: normal;
  font-size: .9em;
  letter-spacing: .1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a:link {
  color: #1c1d1d;
  text-decoration: none; }

a:visited {
  color: #1c1d1d; }

.search-icon {
  height: 32px;
  width: auto;
  margin-right: -20px;
  margin-bottom: 5px; }

.cart-icon {
  height: 32px;
  margin-bottom: 10px; }

.shop-body {
  display: flex;
  justify-content: center;
  align-items: center; }

.shop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 79.5%;
  font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.shop_container__column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.main-image {
  height: auto;
  width: 100%;
  margin-top: 58px; }

.shop-heading {
  font-size: 1.2em;
  margin-top: 85px;
  letter-spacing: .1em; }

.main-paragrpah {
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
  text-align: left;
  line-height: 1.7;
  font-weight: 200;
  font-size: 1.015em; }

.products-section {
  width: 104%;
  flex-direction: row;
  margin-top: 30px; }

.products-section__container {
  width: 30%;
  display: inline-block;
  float: left;
  margin: 12px; }

.products-section__images {
  max-height: 28em;
  margin-top: 30px; }

.product-section__name-and-price {
  margin-top: 20px;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
